@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fff;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #aaaaaa ;
  width: 244px;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.message-container {
  flex: 1;
  width: 1000px;
  
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

}

.bottomsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}